APP_NAME="Nuxt Admin"
NODE_ENV=development
PORT=3000

ENABLECORS=false
ENABLEHELMET=false
FORMLIMIT=52428800
ENABLELOG=true

# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/nuxt_admin_db?schema=public"

# JWT
# Generate with: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_ACCESS_SECRET=create_a_secure_random_string_for_jwt_secret
JWT_ACCESS_EXPIRES=15m
REFRESH_TOKEN_EXPIRES_DAYS=7
EMAIL_VERIFICATION_EXPIRES_HOURS=24
PASSWORD_RESET_EXPIRES_MINUTES=30
BCRYPT_ROUNDS=10

# SMTP Mail
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_password"
SMTP_FROM="Nuxt Admin <noreply@example.com>"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379