@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #121212;
  --primary: #ffe600;
  --secondary: #222222;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.9;
  cursor: pointer;
}

@theme inline {
  --color-background: #121212;
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-input: #222222;
  --color-input-border: #6a6a6a;
  --color-input-placeholder: #a3a3a3;
  --color-text-secondary: #a3a3a3;
  --color-input-fill: #a5a5a5;
  --font-sans: var(--font-satoshi);
  --color-default-color-dark: #171717;
  --color-default-color-background: #121212;
  --color-color-input-disabled: #5e5e5e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffe600 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffe600);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.box-container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #6a6a6a;
  padding: 20px;
  background-color: #222222;
}

.disable-input {
  background-color: #5e5e5e;
  color: #a3a3a3;
  padding: 20px;
  border-radius: 8px;
}

.link-active {
  color: #222222;
  background-color: #ffe600;
}

.hover-link-active {
  color: #222222;
  background-color: #ffe600;
}
